body {
    background-color: aqua;
}

h1 {
    color: darkred;
}

p {
    color: yellow
}

.heading {
    background-color: black;
    text-align: center;
    color: brown;
    padding: 24px;
    width: max-content;
}